* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color:  #19be8d
}
p, h4, h2 {
    margin-top: 10px;
    padding-bottom: 5px;
}
img{
    border-radius: 100px;
    margin: 10px;
    width: 150px;
    height: 150px;
}
.searchBar {
    display: flex;
    justify-content: space-around;
}
.appName{
    margin:10px;
    padding-top: 12px;
    font-weight: 900;
    font-size: large;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #e72a69 !important;
    color: white;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.search{
    flex: 0.75;
    margin: 15px;
}
.searchBar input {
    outline: none;
    max-width: 85%;
    width: 60%;
    color: white;
    padding: 10px;
    background: transparent;
    border-bottom-left-radius: 20px ;
    border-top-left-radius: 20px;
    border: 0px solid  #2ec194;
    border-right: none;
}
.searchBar button {
    outline: none;
    padding: 10px;
    background: #e72a69 !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    border: none;
}
.searchBar button:hover{
    background: #2ec194 !important;
}
.continer {
    display: flex;
    text-align: center;
    border: none;
}
.profile {
    flex: 0.25;
    height: 100vh;
    border-right: none;
}
.user_info{
    text-align: left !important;
    margin-left: 15px;
}
a{
    text-decoration: none;
    color: #e72a69;
}
.repos{
    flex: 0.75;
    height: 100vh;
    border-right: none;
}
.repo_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin: 15px;
}
.repo_item:hover{
    background: #c1ab2e;
}
@media screen and (max-width: 460px){
    .repo_item{
        flex-direction: column !important;
    }
    .searchBar{
        flex-direction: column !important;
    }
    .search, .appName{
        flex: 1 !important;
        margin: 10px !important;
        text-align: center;
    }
    .searchBar  input{
        width: 50% !important;
    }
}
.repo_title{
    color: #825959;
}
.repo_desc{
    margin-left: 15px;
    padding: 10px;
}
.repo_link{
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 7px;
    background: #e72a69;
    color: white;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.repo_link:hover{
    background: #60da30;
}
.sidebar{
    flex: 0.25;
    height: 100vh;
}

.shadow{
    background: #2ec194;
    color: white;
    box-shadow: 5px -5px 10px rgb(255, 255, 255),
                5px 5px 10px rgb(0, 0, 0),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.shadow1{
    background: #2ec194;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.shadow2{
    background: #2ec194;
    color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}